@import url(./normalize.css);
:root {
  --accent: #0891b2;
  --main-max-width: 900px;
  --main-margin: 0 3em;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  .container.header {
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }
}
/* b */
.container {
  margin: auto;
  max-width: var(--main-max-width);
  margin-top: 5em;
}
.container.header {
  display: flex;
  min-height: 500px;
  flex-wrap: wrap;
  & > * {
    width: 50%;
    flex: 1;
  }
  & > .header-img-wrapper {
    /* height: 100%; */
    background-image: url(./assests/headerimg-png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  & > .header-right {
    display: flex;
    align-items: center;
  }
  & .about {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* .head-img { */
/*   width: 100%; */
/*   min-width: 280px; */
/*   object-fit: cover; */
/* } */
.header-icons {
  display: flex;
  & > img {
    height: 32px;
  }
}
header::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
  z-index: -1;
  position: absolute;
}
header {
  display: flex;
  position: relative;
}

main {
  height: 800px;
}
footer > .container {
  margin: auto;
  /* background-color: var(--accent); */
  display: flex;
  flex-wrap: wrap;

  & > * {
    width: 50%;
    flex: 1;
  }
}
